@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: Roboto, sans-serif;
  margin: 0; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbar, .hero, .footer {
    background-color: #1f2937;
    color: white;
}

.navbar {
  height: 60px;  
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    padding: 80px;
}

.navbar a {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.navbar a:hover {
    color: gold;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container {
    max-width: 1100px;
    margin: 0;
    padding: 0 50px;
}

.hero {
    min-height: 350px;
    padding-left: 80px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    display: flex;
}

.hero p {
   font-size: 16px; 
   color: #e5e7eb;
   display: flex;
   padding-right: 50px;

}

.img {
    display: flex;
    max-width: 100%;
    margin-right: 80px;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-up {
    background-color: #3882f6;
    border-radius: 5px;
}

.body {
    background-color: #e5e7eb;
    display: flex;
    /*flex: 1;*/
    max-height: 400px;
}
